---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Writing">
  <span class="mono-label">index / 02</span>
  <h1>Writing</h1>
  <p style="color: var(--color-text-dim);">Blog post list goes here.</p>
</BaseLayout>
