---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Reading">
  <span class="mono-label">index / 03</span>
  <h1>Reading</h1>
  <p style="color: var(--color-text-dim);">I wanna talk about some of my favorite books here!.</p>
</BaseLayout>
