---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Travels">
  <span class="mono-label">index / 04</span>
  <h1>Travels</h1>
  <p style="color: var(--color-text-dim);">I aim to add an interactive map here (idea from <a href="https://www.cmunroe.us/places">https://www.cmunroe.us/places</a>).</p>
</BaseLayout>
